.sj-progress {
  height: 4px;
  position: relative;
  border-radius: 4px;
  background: #eaeaea;
}

.sj-progress__portion {
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 4px;
}

.sj-progress__portion--left {
  left: auto;
  right: 0;
}

.sj-progress__portion--animation {
  transition: width 1s;
}
